= form.text_field :text, class: 'Form__title', placeholder: "タイトル", rows: "10"
.Form__inputImage#image-box
  = form.file_field :image, type: 'file', value:"", style: "display:none", id:"img-file"
  %label{for: "img-file"}
    %i.fas.fa-camera
= form.submit "投稿", class: 'Form__submit'
  