.AccountPage {
  text-align: center;
  color: gainsboro;
  &__title {
    margin-top: 20px;
    margin-bottom: 30px;
    h2 {
      font-size: 30px;
    }
  }
}

.FormField {
  margin-bottom: 15px;
  input {
    width:200px;
  }
}
