$content-width: 400px;
.IndexShow {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  .TweetField {
    // background: mediumaquamarine;
    height: 100vh;
    width: 100%;
    padding-top: 100px ;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 0;
    display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // overflow: scroll;

    .PostedItem {
      // background: midnightblue;
      width: $content-width;
      height: 100%;
      margin-left: auto;
      margin-right: 10px;
      .ArticleHeader {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        h2 {
          font-size: 150%;
          a {
            text-decoration: none;
            color: black;
          }
        }
        .More > li {
          width: 20px;
          font-size: 200%;
          position: relative;
          ul {
            position: absolute;
            li {
              width: 60px;
              font-size: 20px;
            }
          }
        }
        li {
          list-style: none;
          position: relative;
          li {
            height: 0;
            overflow: hidden;
            transition: .5s;
            a {
              border-top: 1px solid #eee;
              background-color: white;
              color: black;
              display: block;
              height: 2rem;
              line-height: 2rem;
              text-align: center;
              text-decoration: none;
              width: 100%;
            }
          }
        }
      }
      .More li:hover > ul > li {
          height: 2rem;
          overflow: visible;
      }
      .Picture{
        background-color: rgba(49, 49, 49, 0.5);
        height: 400px;
        width: $content-width;
        display: flex;
        justify-content: center;
        align-items: center;
        .content_post {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 30px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .ReactionBtn {
        background-color: rgba(255, 255, 255, 0.5);
        height: 40px;
        width: $content-width;
        padding: 0 20px;
        display: flex;
        align-items: flex-end;
        button {
          background-color:rgba( 255, 255, 255, 0);
          box-shadow: none;
        }
        &__good {
          color: goldenrod;
          font-size: 35px;
        }
      }
      .Details {
        background-color: rgba(255, 255, 255, 0.5);
        height: auto;
        padding: 7px 15px;
        
        justify-content: center;
        align-items: center;
        color: black;
      }
    }
  }
  .Comments{
    width: 400px;
    height: 540px;
    width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    margin-right: auto;
    .Addcomment {
      width: 100%;
      height: 40px;
      .commentblock {
        background: salmon;
        border: 1px solid;
        height: 40px;
        width: 100%;
        font-size: 15px;
        form {
          height: 100%;
          width: 100%;
          display: flex;
          textarea{
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .ReplyArea {
      background-image: url(BB.png);
      background-size: cover;
      height: 100%;
      width: $content-width;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      padding: 25px;
      .CommentDisplay {
      
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        // border-right: 1px solid lightgrey;
        // border-left: 1px solid lightgrey;
        overflow: scroll;
        &--individual{
          width: $content-width;
          border-bottom: 1px solid lightgray;
          padding: 10px 15px;
          overflow-wrap: break-word;
          font-size: bold;
          color: gainsboro;
          span {
            display: inline-block;
            width: auto;
            min-width: 20px;
            margin-right: 5px;
            a {
              text-decoration: none;
              color: gainsboro;
            }
          }
        }
      }
    }
  }
}
