@import "reset";
@import "modules/tweets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/tweetsShow";
@import "modules/registration";
@import "modules/tweetForm";
@import "modules/_header";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.wrapper{
  background-image: url(top_image.jpeg);
  background-size: cover;
  height: 100vh;
}

.FixBox {
  height: 54px;
  width: 100vw;
}
