@import "reset";
@import "modules/tweets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
// @import "modules/flash"
* {
  box-sizing: border-box;
}
// html{
//   height: 100vh;
//   width: 100vw;
// }
.wrapper{
  background-image: url(top_image.jpeg);
  background-size: cover;
}
.Header {
  background: lightblue;
  height: 54px;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 4px solid #00376b;
  border-bottom: 4px solid #00376b;
  // position: fixed;
  background-color: #edf9fa;
  z-index:9999;
  &__icon{
    // background: lightcoral;
    height: 38px;
    width: 100% ;
    line-height: 34px;

    img {
      height: 100%;
      width: 150px;
      border-radius: 5px;
    }
    img:active{
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__search{
    // background: lightgoldenrodyellow;
    height: 28px;
    width: 215px;
    form {
      display: flex;
      .search-btn {
        background-color: rgb(235, 237, 240);
        border-radius: 5px;
        border: 1px solid rgb(202, 202, 218);
      }
    }
    ::placeholder{
      text-align: center;
    }
  }
  
  &__items {
    // background: lightseagreen;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .post {
      background-color: white;
      height: 100%;
      padding: 4px;
      margin-left: 20px;
      text-decoration: none;
      display: block;
      border: 3px solid lightgray;
      color: mediumturquoise;
      border-radius: 5px;
    }
    &--icon {
      margin-right: 20px;
      font-size: 35px;
      -webkit-text-stroke: 1.5px #fff;
    }
  }
  .HeaderRight{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .UserMenu > li {
      li {
        width: 100px;
      }
    }
    li {
      list-style: none;
      position: relative;
      ul {
        position: absolute;
        li {
          height: 0;
          overflow: hidden;
          transition: .5s;
          a {
            border-top: 1px solid #eee;
            background-color: white;
            color: black;
            display: block;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            text-decoration: none;
            width: 100%;
          }
        }
      }
    }
  }
  .UserMenu li:hover > ul > li {
    height: 2rem;
    overflow: visible;
  }
}
